div{
    width: 800px; /* largeur */
    margin-left: 0 auto; /* marges */
}
div img{
    margin: 20px; /* marges */
    border: 5px solid #eee; /* bordure */
    box-shadow: 6px 4px 2px #72806f; /* ombre */
    transition: 0.5s
}
div img:hover{
    transform: rotate(-7deg)
}
div img.rotation360:hover{
    transform: rotate(360deg); /* rotation de 7 degres */
}
